<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0 rounded shadow">
          <div class="card-body">
            <h4>EDIT POST</h4>
            <hr />

            <form @submit.prevent="update">
              <div class="form-group">
                <label for="dosen_id" class="font-weight-bold">Nama Pengajar</label>
                <input
                  type="text"
                  class="form-control"
                  v-model="post.dosen_id"
                  placeholder="Masukkan Pengajar"
                />
                <!-- validation -->
                <div v-if="validation.dosen_id" class="mt-2 alert alert-danger">{{ validation.dosen_id[0] }}</div>
              </div>
              <div class="form-group">
                <label for=" mk_id" class="font-weight-bold">Mata Kuliah</label>
                <textarea
                  class="form-control"
                  rows="4"
                  v-model="post. mk_id"
                  placeholder="Masukkan Mata Kuliah"
                ></textarea>
                <!-- validation -->
                <div v-if="validation.mk_id" class="mt-2 alert alert-danger">{{ validation.mk_id[0] }}</div>
              </div>
              <div class="form-group">
                <label for=" mahaiswa_id" class="font-weight-bold">Mahasiswa</label>
                <textarea
                  class="form-control"
                  rows="4"
                  v-model="post. mahasiswa_id"
                  placeholder="Masukkan Mahasiswa"
                ></textarea>
                <!-- validation -->
                <div v-if="validation.mahasiswa_id" class="mt-2 alert alert-danger">{{ validation.mahasiswa_id[0] }}</div>
              </div>
              <div class="form-group">
                <label for=" nilai" class="font-weight-bold">Nilai</label>
                <textarea
                  class="form-control"
                  rows="4"
                  v-model="post. nilai"
                  placeholder="Masukkan Nilai"
                ></textarea>
                <!-- validation -->
                <div v-if="validation.nilai" class="mt-2 alert alert-danger">{{ validation.nilai[0] }}</div>
              </div>
              <button type="submit" class="btn btn-primary">SIMPAN</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import axios from "axios";

export default {
  setup() {
    //state posts
    const post = reactive({
      dosen_id: "",
      mk_id: "",
      mahasiswa_id: "",
      nilai: "",
    });

    //state validation
    const validation = ref([]);

    //vue router
    const router = useRouter();

    //vue router
    const route = useRoute();

    //mounted
    onMounted(() => {
      //get API from Laravel Backend
      axios
        .get(`http://localhost:8000/api/post/${route.params.id}`)
        .then((response) => {
          //assign state posts with response data
          post.dosen_id = response.data.data.dosen_id;
          post.nama = response.data.data.mk_id;
        })
        .catch((error) => {
          console.log(error.response.data);
        });
    });

    //method update
    function update() {
      let dosen_id = post.dosen_id;
      let mk_id = post.mk_id;
      let mahasiswa_id = mahasiswa_id;
      let nilai = nilai;

      axios
        .put(`http://localhost:8000/api/post/${route.params.id}`, {
          dosen_id: dosen_id,
          mk_id: mk_id,
          mahasiswa_id: mahasiswa_id,
          nilai: nilai,
        })
        .then(() => {
          //redirect ke post index
          router.push({
            name: "post.index",
          });
        })
        .catch((error) => {
          //assign state validation with error
          validation.value = error.response.data;
        });
    }

    //return
    return {
      post,
      validation,
      router,
      update,
    };
  },
};
</script>

<style>
body {
  background: lightgray;
}
</style>